/* || General styles / Desktop styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  background: #e0e0e0;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* || Typography */

/* || Login view */

.login-view {
  margin: 0 auto;
  margin-top: 5rem;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.form-field {
  padding: 0.5rem;
}

#login-button {
  grid-column: 1 / 3;
  padding: 1rem 3rem;
  margin-top: 1rem;
}

#login-button:hover {
  cursor: pointer;
}

/* || Inmate List View */

.search-bar {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  column-gap: 15rem;
}

#add-new-inmate-button {
  grid-row: 1/3;
  padding: 1rem;
}

#add-new-inmate-button:hover {
  cursor: pointer;
}

.inmate-list {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.inmate-list-subheading {
  align-self: center;
}

.inmate-list-paragraph {
  align-self: center;
  margin-bottom: 1rem;
}

.list-entry {
  padding: 1rem;
  margin: 0 auto;
}

.list-entry:hover {
  cursor: pointer;
}

.logout-bar {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

#logout-button {
  padding: 1rem;
}

#logout-button:hover {
  cursor: pointer;
}

/* || Add inmate View */

.add-inmate-section {
  margin: 0 auto;
  width: 70%;
  display: flex;
  padding: 1rem;
}

.photo-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

.inmate-photo {
  height: 90%;
  background-color: #c2bfbf;
}

#upload-new-image-button {
  padding: 1rem;
}

#upload-new-image-button:hover {
  cursor: pointer;
}

.information-section {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  column-gap: 1rem;
  padding: 1rem;
}

.info-label {
  align-self: center;
  justify-self: left;
  padding-top: 0.2rem;
}

.save-back-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 70%;
  padding: 1rem;
}

#back-button {
  padding: 1rem;
}

#back-button:hover {
  cursor: pointer;
}

#edit-button {
  padding: 1rem;
}

#edit-button:hover {
  cursor: pointer;
}

#delete-button {
  padding: 1rem;
}

#delete-button:hover {
  cursor: pointer;
}

#save-button {
  padding: 1rem;
}

#save-button:hover {
  cursor: pointer;
}

/* || Inmate view */

.inmate-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* || Breakpoints for mobile devices */

@media only screen and (max-width: 480px) {
  /* || General - Mobile */

  header {
    margin-top: 2.5rem;
  }

  /* || Inmate List View - Mobile */
  .search-bar {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 1rem;
  }

  .inmate-list {
    width: 100%;
  }

  .logout-bar {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  /* || Add inmate View - Mobile */

  .add-inmate-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .photo-section {
    width: 100%;
  }

  .inmate-photo {
    height: 15rem;
    width: 100%;
  }

  .information-section {
    width: 100%;
  }

  /* || Inmate View - Mobile */

  .inmate-header {
    justify-items: center;
  }

  .inmate-header h1 {
    text-align: center;
  }
}
